.TicTacToe {
  text-align: center;
  background-color: #222;
  color: white;
}

.VerticalLayoutItem {
  width: 100%;
  text-align: center;
}

.status {
  font-size: 1.7em;
}
.game {
  flex: auto;
  display: flex;
}
.game-row {
  height: 100%;
}

.squares {
  flex: auto;
  align-self: center;
}
.X {
  color: red;
  font-weight: bold;
}
.O {
  color: blue;
  font-weight: bold;
}
